.wrapper {
  background: #fff;
  padding: 25px 10px;
  height: 100%;
  min-width: 500px;
  width: 100%;
}

.content-container {
  background: #fff;
}

.test {
  background: rgba(0,0,0,0.5);
  border: 1px solid red;
  padding: 20px;
  
  button {
    padding: 10px;
    border: 3px dashed red;
  }
}


.trades-table {

}